<% if current_user %>
  <div id='ptp-app'></div>

<% else %>
  <div class='ui grid' id='login'>
    <div class='two wide column'></div>
    <div class='twelve wide column'>
      <div class='ui padded segment' id='welcome-message'>
          <div id='blur-block'>
            <div class='ui huge header'>Practice to Perfect</div>
            <div class='ui large header'>Be intentional.  Be prepared.</div>
            <div class='ui large header'>All in a low stakes environment.</div>
            <div class='ui divider horizontal'>
            <button class='ui button'>
              <div class='ui medium header'>
                <%= link_to 'Log in with Github', '/auth/github' %>
              </div>
            </button>
          </div>
        </div>
      </div>
      <br />
      <br />
      <div class='ui padded segment' id='about-message'>
        <div class='ui medium header'>Practice makes perfect, and with the Practice to Perfect app, you can get the necessary practice to crush all your interviews. Practice to Perfect gives you access to a database of interview question types (behavioral, problem-solving, motivational, technical/skills-based, and informational) and transcribes your audio answers to text for you to review.</div>
      </div>

    </div>
    <div class='two wide column'></div>
  </div>
<% end %>
