// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "semantic-ui";

#welcome-message {
   margin: 20px;
   background-image: image-url('handshake.jpg');
   background-repeat: no-repeat;
   background-size: 100%;
   @media (min-width: 960px) {
     padding: 12rem;
   }
   @media (min-width: 680px) {
     padding: 6rem;
   }
   // padding: 2rem;
}

#welcome-message .ui.huge.header {
  color: #56184C;
}

#about-message {
  margin: 20px;
  text-align: center;
}

#blur-block {
  background: #FFBA49;
  padding: 20px;
  opacity: 0.8;
}
